@model ControlGastosWeb.Models.Presupuestos
@{
    ViewBag.Title = "Editar Presupuesto";
}

<style>
    body {
        background: linear-gradient(to bottom right, #2c3e50, #34495e);
        color: white;
    }

    .contenedor {
        margin-top: 60px;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
    }

    label {
        color: white;
    }

    .btn-naranja {
        background-color: #ff8c00;
        border-color: #ff8c00;
        color: white;
    }

        .btn-naranja:hover {
            background-color: #e67600;
        }

    .marca-agua {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        color: rgba(255, 255, 255, 0.03);
        pointer-events: none;
        user-select: none;
    }
</style>

<div class="container contenedor">
    <h2 class="text-center">Editar Presupuesto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoGastoId)
                    @Html.DropDownListFor(model => model.TipoGastoId, new SelectList(ViewBag.TiposGasto, "Id", "Descripcion", Model.TipoGastoId), "- Seleccione -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoGastoId)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Monto)
                    @Html.TextBoxFor(model => model.Monto, new { @class = "form-control", type = "number", step = "0.01", min = "0" })
                    @Html.ValidationMessageFor(model => model.Monto)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Mes)
                    @Html.DropDownListFor(model => model.Mes, (IEnumerable<SelectListItem>)ViewBag.Mes, "- Seleccione Mes -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mes)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Anio)
                    @Html.TextBoxFor(model => model.Anio, new { @class = "form-control", type = "number", min = "2023", max = DateTime.Now.Year })
                    @Html.ValidationMessageFor(model => model.Anio)
                </div>
            </div>
        </div>

        <div class="form-group text-center mt-3">
            <input type="submit" value="Guardar Cambios" class="btn btn-naranja" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
        </div>
    }

</div>

<div class="marca-agua">SMARTBIT</div>
